.formContactsContainer {
  width: 288px;
  margin: 20px auto 0 auto;
}

.formContactsTitle {
  color: #fff;
  font-family: Ubuntu;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.formContactsText {
  color: #fff;
  font-family: Ubuntu;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.5px;
}
.deskPosition {
  text-align: center;
}
.namePosition {
  margin: 10px 0 0 0;
  width: 280px;
}

.emailPosition {
  width: 280px;
  margin: 10px 0 0 0;
}

.textAriaPosition {
  margin: 10px auto 20px auto;
}

.formSubmitBtn {
  padding: 9px 15px;
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

@media (min-width: 1366px) {
  .formContactsContainer {
    width: 570px;
    margin: 50px 0 0 100px;
  }

  .deskPosition {
    display: flex;
    justify-content: space-between;
  }

  .formContactsTitle {
    margin-bottom: 14px;
  }

  .namePosition {
    margin: 14px 0 0 0;
  }

  .emailPosition {
    margin: 14px 0 0 0;
  }
}
