.sliderPaginaton {
  color: #fff;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  bottom: 38px;

  width: 70px;
  margin: 0 auto;
}
.opacity {
  opacity: 0.8;
}

@media (min-width: 1366px) {
  .sliderPaginaton {
    margin: 0 auto;
  }
}
