.accardionButton {
  padding: 10px 8px;
  width: 304px;
  text-align: left;
  /* height: 100%; */
  background-color: #fff;
  border: none;
  position: relative;
  transition: 2s ease-out;
  display: flex;
  flex-wrap: nowrap;

}

.accardionButton:hover .accardionButtonSvgContainer {
  background-color: #0dd1a2;
}

.accardionButton::before {
  display: none;
}

.accardionButtonSvgContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  background-color: #15b28d;
}

.accardionTitle {
  color: #1c1c1c;
  font-family: Ubuntu;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.463px;
  background-color: #fff;
  width: 256px;
}

.rotateIconClose {
  transform: rotate(0deg);
  transition: 0.5s linear;
}

.rotateIconOpen {
  transform: rotate(-45deg);
  transition: 0.5s linear;
}

@media (min-width: 1366px) {
  .accardionButton {
    padding: 20px 0 20px 39px;
    width: 904px;
    text-align: left;
    /* height: 100%; */
    background-color: #fff;
    border: none;
    position: relative;
    transition: 2s ease-out;
    display: flex;
    flex-wrap: nowrap;

  }

  .accardionButtonSvgContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 67px;
    height: 100%;
    background-color: #15b28d;
  }

  .accardionTitle {
    color: #1c1c1c;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.748px;
    width: 731px;
  }
  .accardionButton::before {
    content: "";
    position: absolute;
    display: block;
    top: 30px;
    left: 21px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #0dd1a2;
  }
}
