.headerWrap {
  margin: 0 auto;

  position: relative;
}

.buttonOrder {
  width: 108px;
  height: 34px;
}

/* .logoContainer svg:hover rect {
  fill: #0dd1a2;
} */
.logoContainer svg:hover path {
  fill: #0dd1a2;
}

.mobHederNavMenu {
  z-index: 1;
  margin: 0;
  position: absolute;
  width: 100vw;
  height: 510px;
  top: 73px;
  left: 0;
  background-color: #1c1c1c;
  transform: translateY(-120%);
  transition: 1s;
}

.mobHederNavMenuActive {
  transform: translateY(0);
  transition: 1s;
  z-index: 1000;
  z-index: 1;
}

.line {
  background-color: #fff;
  opacity: 0.24;
  height: 1px;
  width: 100%;
}
.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
  position: relative;
  padding: 20px 20px 20px 20px;
  transition: 0.5s;
}

.black {
  background-color: #1c1c1c;
  transition: 1s;
  z-index: 100;
  position: relative;
}

.mobMenuPositionPhone {
  margin: 30px auto 0 24px;
}

.socialsMobMenuPosition {
  margin: 20px auto 28px 21px;
}

.headerNavPositionMob {
  flex-direction: column;
  margin: 34px auto 50px 24px;
}

@media (min-width: 1366px) {
  .headerWrap {
    width: 89vw;
    margin: 0 auto;
    padding: 43px 64px 43px 64px;
    transition: 0.5s;
    position: fixed;
    top: 0;
  }

  .header {
    padding: 0;
  }

  .mobHederNavMenu {
    display: none;
  }

  .headerNavPositionDesk {
    width: 50%;
    margin: 0px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .deskMenuPositionPhone {
    margin: 8px 0 0 10px;
  }
}
