.howItsWorkList {
  display: none;
}

@media (min-width: 1366px) {
  .howItsWorkList {
    list-style: none;
    width: 1152px;
    margin: 48px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .howItsWorkItem {
    width: 534px;
    display: flex;
    justify-content: center;
  }
  .howItsWorkItem:nth-child(1) {
    margin-bottom: 95px;
  }

  .howItsWorkItem:nth-child(2) {
    margin-top: 17px;
    margin-right: 27px;
  }

  .howItsWorkItem:nth-child(3) {
    margin-left: 30px;
  }

  .howItsWorkItem:nth-child(4) {
    margin-top: 17px;
  }

  .howItsWorkImgContainer {
    width: 207px;
    height: 142px;
    display: flex;
    align-items: end;
    justify-content: left;
    position: relative;
    padding: 0 0 8px 8px;
  }

  .greenBorder {
    z-index: 1;
    width: 195px;
    height: 130px;
    border: 2px solid #0dd1a2;
    position: absolute;
    top: 0;
    right: 0;
  }

  .howItsWorkImg {
    z-index: auto;
    position: relative;
    z-index: 2;
  }

  .howItsWorkTextContainer {
    margin: 0;
  }

  .howItsWorkTitle {
    width: 117px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 10px 20px;
  }

  .howItsWorkText {
    width: 285px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px;
    margin-left: 20px;
  }

  .imgNumber {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    color: #0dd1a2;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
