.accardionContainer {
  width: 304px;
  margin: 28px auto 0 auto;
  position: relative;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  /* transition: 2s ease-out; */
}

.accardionItem {

  position: relative;
  margin-bottom: 5px;
  /* transition: 2s ease-out; */
}

.accardionHidenContainer {
  height: 0;
  width: 304px;

  visibility: hidden;
   transition: 1s ease-out;
  background-color: #fff;
}

.accardionHidanContent {
  /*padding: 20px 0 20px 0;*/
  color: #1c1c1c;
  font-family: Ubuntu;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.5px;
  background-color: #fff;
  width: 288px;
  margin: 0 auto;

  height: 0;
  transition: 0.1s ease-out
}
.open {
  padding: 20px 0 20px 0;

  height: 250px;
  visibility: visible;
  transition: 1s ease-out;
}

@media (min-width: 1366px) {
  .accardionContainer {
    margin: 32px 0 0 0;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* transition: 2s ease-out; */
  }

  /*.accardionItem {*/

  /*      position: relative;*/
  /*      margin-bottom: 5px;*/
  /*      transition: 2s ease-out;*/

  /*    }*/

  .accardionHidenContainer {
    height: 0;
    width: 854px;
    padding: 0 0 0 50px;

    visibility: hidden;
    /* transition: 1s ease-out; */
    background-color: #fff;
    text-align: left;
  }

  .accardionHidanContent {

    color: #1c1c1c;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.5px;
    background-color: #fff;
    width: 640px;
    margin: 0;

    height: 0px;
    transition: 1s ease-out;
  }

  .open {

    height: 160px;
    visibility: visible;
    transition: 1s ease-out;
    padding: 20px 0 30px 50px;
  }
}
