.btnSmall {
  width: 108px;
  height: 34px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #0dd1a2;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #fff;
  border-radius: 2px;
}

.btnBig {
  color: #fff;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
  width: 207px;
  height: 55px;
  background-color: #15b28d;
  color: #fff;
  border: none;
  border-radius: 2px;
}

.btnBigTansparent {
  color: #fff;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
  width: 207px;
  height: 55px;
  background-color: transparent;
  border: 3px solid #15b28d;
  border-radius: 2px;
}
