.deskPagesthreeContainer {
  display: none;
}


@media (min-width: 1366px) {

  .deskPagesthreeContainer {
    display: block;
    background-image: url("./../../../../assets/img/pages3Bg.png");
    background-position: center top;
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: 100% 768px;
    background-attachment: scroll;
    padding: 150px 90px 88px 90px;
    margin: 0 auto;
 
  }
  
  .deskPagesthreeContent {
    width: 1186px;
    margin: 0 auto;
  }
  
  .titleBodrer {
    text-align: left;
    width: 415px;
    border-bottom: 3px solid #0DD1A2;
    margin-bottom: 46px;
  }
  
  .title {
    display: block;
    width: 379px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}