.planetariumBgMob {
  margin: 0 auto;
  /* background-image: url("./../../../../assets/img/mob-one-screen-bg.png"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.planetariumBgDesk {
  margin: 0 auto;
  /* background-image: url("./../../../../assets/img/desk-one-screen-bg.png"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
