.vrSliderContainer {
  max-width: 577px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}

.swiperContainer {
  text-align: center;
  position: relative;
}

image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  width: 266px;
  margin: 0 auto 10px auto;
}

.mySwiper {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  color: #fff;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  bottom: 38px;
  z-index: 10;
  width: 40px;
  margin: 0 auto;
}

.swiper-pagination-total {
  opacity: 0.87;
  color: #ababab;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.87;
}

.swiperButtonNext {
  width: 60px;
  height: 48px;
  position: absolute;
  bottom: 4px;
  right: 0;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
}

.swiperButtonPrev {
  width: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  right: 60px;
  z-index: 1;
  text-align: center;
  background-color: #1c1c1c;
}

.space {
  height: 48px;
  position: relative;
  z-index: 2;
}

.greenBorder {
  display: none;
}

@media (min-width: 1366px) {
  .vrSliderContainer {
    width: 577px;
    margin: 335px 0 0 0;
    padding: 0 16px 0 16px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 577px;
    height: 300px;
    object-fit: cover;
  }

  .greenBorder {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 564px;
    height: 280px;
    background-color: transparent;
    border: 4px solid #0DD1A2;
    z-index: 1 ;
    padding: 0 0 0 0;
  }

  .swiperButtonNext {
    width: 60px;
    height: 48px;
    position: absolute;
    bottom: 4px;
    right: 15px;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
  }
  
  .swiperButtonPrev {
    width: 60px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 4px;
    right: 75px;
    z-index: 1;
    text-align: center;
    background-color: #1c1c1c;
  }

}
