.planetariumDescriptionContainer {
  padding: 124px 16px 0 16px;
}

.titleContainer {
  width: 288px;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 3px solid #0dd1a2;
}

.title {
  color: #fff;
  font-family: Ubuntu;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 240px;
  margin: 0 auto 0 0;
}

.content {
  width: 288px;
  margin: 0 auto;
}

.text {
  color: #fff;
  font-family: Ubuntu;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.5px;
}

.text1Position {
  margin: 48px 0 30px 0;
}

.text2Position {
  margin: 30px 0 30px 0;
}

.text3Position {
  margin: 30px 0 30px 0;
}

@media (min-width: 1366px) {
  .mobBr {
    display: none;
  }

  .planetariumDescriptionContainer {
    padding: 0 0 0 0px;
    margin: 150px 0 193px 0;
  }

  .titleContainer {
    width: 591px;
  }

  .title {
    width: 561px;
    font-family: Ubuntu;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .content {
    width: 440px;
    margin: 0 auto 0 28px;
  }

  .text {
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.5px;
  }
}
