#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Ubuntu"), local("Ubuntu"), url("./assets/fonts/Ubuntu-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu"), local("Ubuntu"), url("./assets/fonts/Ubuntu-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Ubuntu"), local("Ubuntu"), url("./assets/fonts/Ubuntu-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu"), local("Ubuntu"), url("./assets/fonts/Ubuntu-Bold.woff2") format("woff2");
}

 